/**
 * @name serverthemes
 * @version 2.0.0
 * @description Apply specific themes when viewing specific server
 * @author DeNial
 * @authorLink https://mikeorozco.dev
 * @authorId 142347724392497152
 * @website https://mikeorozco.dev
 */

.container {
  display: flex;
  flex-direction: column;
  background-color: var(--background-primary);
}
.container .row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 5px;
}
.container .row .serverName {
  width: auto;
  color: var(--text-normal);
  display: inline-block;
}
.container .row .themeChoice {
  display: flex;
  flex: 1;
  margin-left: 10px;
  background-color: var(--interactive-hover);
  padding: 5px;
}